
.DS_Store
/Generador Horaris/GeneradorHoraris/nbproject/private/
/Generador Horaris/GeneradorHoraris/build/
/Esborrar/Generador Horaris/GeneradorHoraris/build/
/Esborrar/Generador Horaris/GeneradorHoraris/nbproject/private/
/prova/Projecte PROP/nbproject/private/
/prova/Projecte PROP/build/